@use "@/styles/variable" as v;
@use "@/styles/mixins" as m;

.header {
    display: flex;
    justify-content: space-between;
    align-items: center ;
    width: 100%;
    border-bottom: 1px solid v.$sidebar-border-color;
   
    
    .nav {
        display: flex;
        width: 25%;
        justify-content: flex-end;
       

        .nav_link {
            display: flex;
            width: 100%;
            justify-content: space-between;
            margin-top: 5px;
            
        }   
    }
  
    
}
@media screen and (max-width: 995px) {
        .nav{
            width: 100% !important;
        }
   
}