@use '../styles/variable' as v;
@use '../styles/mixins' as m;
@import '~bootstrap/scss/bootstrap';


html, body, #root > div {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bs-gutter-x: 0;
}

body {
  background-color: v.$background-color;
  color: v.$text-color;
}
.container {
  @include m.container(90%);
} 
 a, link{
  
  text-decoration: none;
 }
 ul, li{
  list-style: none;
 }
 .next {
 
  background-color:v.$button-color1-border;
  ;
  color: white;
  padding: 2px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color:v.$button-bgHover-button;
    color: white
  }
}

.back {
  background-color:v.$button-color1-border;
  color: white;
  padding: 3px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color:v.$button-bgHover-button;
    color: white;
  }
}
/* @media (max-width: 1200px) {
  html {
    font-size: 14px;
  }
} */
.responsiveTable {
  width: 100%;
  margin: auto;

  @media (min-width: 768px) {
    width: 50%;
  }
}

.contact-page{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items:baseline;
   margin: 30px 20px;
h1,h4{
  width: 100%;
  text-align: center;
}

h1{
  text-decoration: underline;
  font-weight: 600;
  margin-top: 10px;
}
h4{
   margin-top: 30px;
}
}

