@use "@/styles/variable" as v;
@use "@/styles/mixins" as m;


.container {
    display: flex;
    flex-direction:column; 
    height: 50vh;   
    width: 100%;
    justify-content: center;
    align-items: center;
    
    

   
   
   
    
   
      
  }
    

  


